fastapi
uvicorn
PyJWT
requests
numpy
scikit-learn
joblib
pillow
opencv-python
matplotlib
imageio
soundfile
pytest
python-multipart
pynput
sounddevice
python-docx
pytest-cov
requests-mock
httpx
slugify
pygetwindow
